<div class="nested-fields">
  <div class="field">
    <%= f.label :user_id, 'Select User' %>
    <%= f.collection_select :user_id, User.all, :id, :email, include_blank: true %>
  </div>
  <%= link_to 'Remove User', '#', class: 'remove_fields' %>
</div>