<h1><%= current_user.email %> just invited you to join Splitwise!</h1>
<%= link_to "Join Splitwise", new_user_registration_path, class: "btn btn-danger btn-xxl" %>

<h5>Splitwise makes it easy to split expenses with your friends.</h5>
<div class="text-center">
  <p>
    Use splitwise anytime you split a bill - we will keep track of how<br>
    much each person owesin total, and make sure that everyone<br>
    gets paid back.
  </p>
</div>

