<div class="container-fluid w-50 shadow mt-5 rounded border p-4 bg">
  <p>Paid by: <%= @expense.user.email %><p><br>
  <p>Paid amount: <%= @expense.amount %></p><br>
  <p>Splitted among: <br>
  <ul>
  <% @expense.group.users.each do |user| %>
    <li><%= user.email %></li><br>
  <% end %>
  </ul></p>
  <%= link_to 'Back', group_expenses_path(@group), class: "text-light btn btn-dark " %>
</div>
